# Standard Dependencies
streamlit
pandas
requests
python-dotenv

# Install paperqa from GitHub
git+https://github.com/Future-House/paper-qa.git

# Install biomarkqa2_model as a package
./biomarkqa2_model

#Install Streamlit
-e .